body {	
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 0rem;
    padding-right: 0rem;
}

.page {
    background-color: rgb(20,20,20);
    color: lightgrey;
}

.year {          
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
}

.text {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "MS Arial", Arial, sans-serif; 
    font-size: 20px;
    margin-right: 0rem;
    margin-left: 0rem;
    margin-bottom: 1rem;
    text-align:justify; 
    line-height: 120%;
}

.text:hover {
    width: 99%;
    margin-right: auto;
    margin-left: auto;
}


#horizontal { 
    list-style: none;
    text-align: center;
    padding-right: 0rem;
    padding-left: 0rem;
    margin-top: 1rem;
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "MS Arial", Arial, sans-serif;
}

#horizontal li {
    display: inline-block;
    text-align: center;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    background-color: lightgray;
    margin-right: 0rem;
    margin-left: 0rem;
    font-weight: 900;
    font-size: 1rem;
    letter-spacing: -1px;
}

.menu {
    text-decoration: none;
    color: rgb(20,20,20);
}

.menu:hover {
    text-decoration: none;
    color: rgb(20,20,20);
}

.logo {
    font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "MS Arial", Arial, sans-serif;
    max-width: 100%; 
    letter-spacing: -2px;
    text-align: center;
    font-size: 3rem;
    font-weight: 900;
}

@media (min-width: 1080px) {

.root {    
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}
}
        
@media (max-width: 1080px) {
.root {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

}				
}
            
.row {              
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}	

.col-sm-4 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0rem;
    padding-right: -3rem;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
           
.column .caption {
    position: absolute;
    bottom: 0;
    left: 0;
}

