
			body {
				
				padding-top: 1rem;
				padding-bottom: 3rem;
				padding-left: 0rem;
				padding-right: 0rem;
				color: rgb(70,70,70);
				font-size:16px;
				font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "MS Arial", Arial, sans-serif; 
				font-weight: all
			}

			.annee {          	
            	margin-bottom: 0rem;
            	margin-left: 1rem;
            	width: 70px;
            }

            #horizontal { 
            	list-style: none;
            	text-align: center;
            	padding-left: 0em;
            	padding-right: 1em;
            	margin-top: 1rem;
            }

            #horizontal li {
            	display: inline-block;
            	padding-left: 1em;   	
            }

            .menu {
            	text-decoration: none;
            	color: rgb(0,0,0);
            }

            .menu:hover {
            	text-decoration: none;
            	color: rgb(150,150,150);
            }

            .logo {
				max-width: 100%; 
				height: auto;
				text-align: center;

			}


            .titre {
				color: rgb(255,255,255);
            	font-family: HelveticaNeue, "Helvetica Neue", Helvetica, "MS Arial", Arial, sans-serif;
            	font-weight: bold;
            	background-color: rgb(71,148,142);
            	font-size: 120%;
            	letter-spacing: 1px;
            	padding-left: 0.5rem;
			}
            
            @media (min-width: 1080px) {
            	.window {
            	
            	text-align:justify; 
            	width: 50rem;
   				padding-left:0rem;
				margin-right:1rem;
				line-height: 150%;
				
   				}
   			}


			@media (max-device-width: 1080px) {
				.window {
            	
            	text-align:justify; 
   				width:auto;
   				padding-left:0rem;
				margin-right:1rem;
				line-height: 130%;
				
   				}
   			}

            

            @media (max-width: 1080px) {
            	.window {
            	
            	text-align:justify; 
   				width:auto;
   				padding-left:0rem;
				margin-right:1rem;
				line-height: 150%;
				}
				
   			}
            

            .row{
                margin-top: 1rem;
                margin-bottom: 1rem;
            }	
			
			.row-home{
                margin-top: 0rem;
                margin-bottom: 0rem;
            }	

				

			
			.big {
            	line-height: 200%;
            	text-align: justify;
            	max-width: 50%;
            	color: rgb(255,0,0);
            	text-align: center;

            }

            .bloctext {
            	text-align: justify;
            	margin-left: auto;
    			margin-right: auto;
    			width: 40em

            }

            .illustration {
            	
            	margin-left: auto;
    			margin-right: auto;
    			width: 40em
            }

			.column {
			  	float: left;
			  	width: 33.33%;
			  	padding: 0px;
			}

			.row::after {
			  	content: "";
			  	clear: both;
			  	display: table;
			}
           

			.column .caption {
				position: absolute;
			    bottom: 0;
			    left: 0;
			}

