.titre {
	font-family: 'Roboto', sans-serif; 
	font-weight: 900;
	font-size: 2em; 
	text-align: center; 
	color: white; 
	max-width: 100%; 
	line-height: 1.5; 
	
}

.label {
	font-family: 'Jost', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	
}

.root {
	background-color: #497288;
	margin: 3em;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 1em;
	padding-bottom: 2em;
	width: 50%;
	height: 40em;
}